@charset "UTF-8";
:root {
  --header-background-color: #fff;
  --header-height: 18px;
  --header-font-size: 16px;
  --header-sub-nav-color: #fff;
  --header-sub-nav-font-size: 15px;
  --product-description-font-size: 16px;
  --product-description-color: rgba(0, 18, 25, 1);
  --product-description-line-height: 1.6;
  --banner-text-color: #fff;
  --primary-color: rgba(27, 72, 101, 1);
  --secondary-color: #ffdc00;
  --arrow-backgound-color: rgba(27, 72, 101, 1);
  --arrow-icon-color: #fff;
  --banner-height: 700px;
  --icon-dark: #000;
  --font-family: "Lato", sans-serif;
  --new-trend-backgound: #ffdc00;
  --theme-alert: #ed4b4b;
  --theme-alert-text-color: #fff;
  --section-spacing: 50px;
  --wc-fs-heading1: 50px;
  --heading-color1: rgba(27, 72, 101, 1);
  --wc-fs-heading2: 42px;
  --heading-color2: rgba(27, 72, 101, 1);
  --wc-fs-heading3: 28px;
  --heading-color3: rgba(0, 18, 25, 1);
  --wc-fs-heading4: 24px;
  --heading-color4: rgba(107, 144, 127, 1);
  --wc-fs-heading5: 22px;
  --heading-color5: rgba(0, 18, 25, 1);
  --wc-fs-heading6: 20px;
  --heading-color6: rgba(27, 72, 101, 1);
  --btn-text-color: rgba(255, 255, 255, 1);
  --BtnborderRadius: 5;
  --footer-background-color: #f8f8f8;
  --footer-description-font-size: 15px;
  --footer-nav-color:#3b3b3b;
}

p {
  font-size: var(--product-description-font-size);
  color: var(--product-description-color);
  line-height: var(--product-description-line-height);
}

.btn {
  font-size: 13px;
  font-weight: 400;
  color: var(--btn-text-color);
  padding: 15px;
  background: var(--product-description-color);
  min-width: 160px;
  text-transform: capitalize;
  letter-spacing: 0.3px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  border: 0;
  border-radius: calc(var(--BtnborderRadius) * 1px);
  width: -moz-max-content;
  width: max-content;
  text-decoration: none;
}
.btn i {
  transition: 0.5s ease;
  position: relative;
  left: 8px;
}
.btn:hover i {
  left: 12px;
}

.proTrends-wrapper {
  position: relative;
  overflow: hidden;
  display: block;
}
.proTrends-wrapper::before,
.proTrends-wrapper .banner-link,
.proTrends-wrapper .banner-content,
.proTrends-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.proTrends-wrapper img {
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.15s ease-in-out;
}
.proTrends-wrapper .banner-link {
  z-index: 3;
}
.proTrends-wrapper .banner-image {
  position: relative;
  overflow: hidden;
  display: block;
  min-height: 410px;
  background-repeat: no-repeat;
  background-size: cover;
}
.proTrends-wrapper .banner-content {
  padding: 30px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.proTrends-wrapper .banner-content-bottom {
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  opacity: 0;
  transition: all 0.15s ease-in-out;
}
.proTrends-wrapper.banner-style-card-hover .banner-content .banner-content-item {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.15s ease-in-out;
}
.proTrends-wrapper.banner-style-card-hover .banner-content .banner-content-item .banner-title {
  color: var(--product-description-color);
  transition-delay: 0.15s;
  margin: 12px 0;
}
.proTrends-wrapper.banner-style-card-hover:hover .banner-content-bottom {
  opacity: 1;
}
.proTrends-wrapper.banner-style-card-hover:hover .banner-content > div > * {
  opacity: 1;
  transform: translateY(0);
  color: var(--product-description-color);
}
.proTrends-wrapper.banner-style-card-hover:hover .banner-content .banner-title,
.proTrends-wrapper.banner-style-card-hover:hover .banner-content .banner-catname,
.proTrends-wrapper.banner-style-card-hover:hover .banner-content .banner-catcount {
  color: var(--product-description-color);
  transition-delay: 0.15s;
}
.proTrends-wrapper:not(.banner-style-classic)::before {
  content: "";
  background: rgba(57, 57, 58, 0.34);
  z-index: 1;
  transition: all 0.15s ease-in-out;
}
.proTrends-wrapper .banner-style-classic .banner-image::before {
  content: "";
  background: rgba(57, 57, 58, 0.34);
  z-index: 1;
  transition: all 0.15s ease-in-out;
}
.proTrends-wrapper:hover .banner-image img {
  transform: scale(1.1);
}
.proTrends-wrapper:hover img {
  transform: scale(1.2);
}

.sliderproduct {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  margin-bottom: 30px;
}
.sliderproduct:hover .loop-product-buttons-hover {
  right: 15px;
  opacity: 1;
}
.sliderproduct:hover .slider-hidden-cart .sliderproduct-name {
  transform: translateY(-40px);
  opacity: 0;
  visibility: hidden;
}
.sliderproduct:hover .slider-hidden-cart .slider-cart-hidden,
.sliderproduct:hover .slider-hidden-cart .slider-cart-hidden {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  z-index: 1;
}
.sliderproduct:hover .has-images .overlay-thumb {
  opacity: 1;
  transition: all ease 0.55s;
}
.sliderproduct .sliderproduct-name {
  font-size: var(--product-description-font-size);
}
.sliderproduct .slider-hidden-cart {
  position: relative;
  overflow: hidden;
  min-height: 33px;
}
.sliderproduct .slider-hidden-cart .sliderproduct-name,
.sliderproduct .slider-hidden-cart .slider-cart-hidden {
  transition: all ease 0.25s;
}
.sliderproduct .slider-hidden-cart .btn-small {
  font-size: var(--product-description-font-size);
}
.sliderproduct .slider-cart-hidden {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  transform: translateY(40px);
}
.sliderproduct .thumb-wrapper {
  position: relative;
  margin-bottom: 15px;
  overflow: hidden;
}
.sliderproduct .thumb-wrapper a {
  box-shadow: none;
  text-decoration: none;
  transition: all 0.3s ease-out 0s;
}
.sliderproduct .thumb-wrapper img {
  height: auto;
  max-height: 100%;
  width: 100%;
}
.sliderproduct .has-images .overlay-thumb {
  position: absolute;
  max-width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}
.sliderproduct .sliderproduct-labels {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 2;
}
.sliderproduct .sliderproduct-labels .slider-label {
  color: var(--theme-alert-text-color);
  background-color: var(--theme-alert);
  height: 20px;
  padding: 0 7px;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px 0;
}
.sliderproduct .pro-labels {
  position: absolute;
  top: 20px;
  right: -10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 2;
  transform: rotate3d(1, 1, 1, 45deg);
}
.sliderproduct .pro-labels .slider-label {
  color: var(--theme-alert-text-color);
  background-color: var(--theme-alert);
  height: 20px;
  padding: 0 7px;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px 0;
}
.sliderproduct .loop-product-buttons-hover {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -36px;
  top: 10px;
  opacity: 0;
  transition: all ease 0.25s;
  z-index: 2;
  bottom: 0;
}
.sliderproduct .loop-product-buttons-hover .sliderproduct-button {
  width: 36px;
  height: 36px;
  border-radius: 40px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9f9f9;
}
.sliderproduct .loop-product-buttons-hover .sliderproduct-button .svg-icon {
  max-width: 18px;
}
.sliderproduct .loop-product-buttons-hover .sliderproduct-button:hover {
  color: #f9f9f9;
  background: #1b1b1b;
  fill: #f9f9f9;
}
.sliderproduct .btn-small {
  font-size: 14px;
  letter-spacing: 0;
  text-align: left;
}
.sliderproduct .svg-icon {
  max-width: 24px;
  max-height: 24px;
  cursor: pointer;
  fill: #1b1b1b;
}
.sliderproduct .add-to-cart-btn.sliderproduct-button {
  position: relative;
  overflow: hidden;
}

.protab-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: nowrap;
  position: relative;
  margin-bottom: 1.5rem;
}
@media (max-width: 1440.99px) {
  .protab-header {
    margin-bottom: 1rem;
  }
}
@media (max-width: 575.98px) {
  .protab-header {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0.5rem;
  }
}
.protab-header.text-center {
  justify-content: center;
}
.protab-header .tab-title {
  font-size: var(--wc-fs-heading5);
  line-height: normal;
  color: var(--heading-color5);
  margin: 0;
  font-weight: 500;
}
.protab-header .tab-menu {
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
}
@media (max-width: 575.98px) {
  .protab-header .tab-menu {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.protab-header .tab-menu a {
  box-shadow: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 1;
  color: var(--product-description-color);
}
.protab-header .tab-menu .attr-wrapper {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 1;
}
.protab-header .tab-menu .attr-wrapper .terms-menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
.protab-header .tab-menu .attr-wrapper .terms-menu .term-color {
  width: 12px;
  height: 12px;
  border: 1px solid var(--product-description-color);
  border-radius: 10px;
}
.protab-header .btn {
  background: transparent;
  color: var(--product-description-color);
  padding: 0;
}

.topBar {
  position: relative;
  background-color: var(--primary-color);
  color: var(--header-sub-nav-color);
  padding: 12px 0;
}
.topBar .w3-container {
  display: flex;
  flex-wrap: wrap;
}
.topBar .w3-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.topBar .w3-container ul li {
  display: inline-flex;
  padding: 0 8px 0 0;
}
@media (max-width: 575.98px) {
  .topBar .w3-container ul li {
    padding: 8px 0;
  }
}
.topBar .w3-container ul li a {
  text-decoration: none;
}
.topBar .w3-container ul li a:hover {
  color: var(--secondary-color);
}
.topBar .w3-container .contactUs {
  flex: 0 0 50%;
  max-width: 50%;
}
@media (max-width: 575.98px) {
  .topBar .w3-container .contactUs {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
  }
}
.topBar .w3-container .socialMedia {
  flex: 0 0 50%;
  max-width: 50%;
  text-align: right;
}
@media (max-width: 575.98px) {
  .topBar .w3-container .socialMedia {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
  }
}

.owl-nav span {
  background: var(--arrow-backgound-color);
  color: var(--arrow-icon-color);
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.owl-nav span:hover {
  background: var(--secondary-color);
}
.owl-nav .owl-next {
  right: 0;
  top: 30%;
  position: absolute;
}
.owl-nav .owl-next.disabled {
  opacity: 0.5;
}
.owl-nav .owl-prev {
  left: 0;
  top: 30%;
  position: absolute;
}
.owl-nav .owl-prev.disabled {
  opacity: 0.5;
}

.header-wraper {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: var(--header-background-color);
  padding: var(--header-height) 0;
  position: relative;
}
.header-wraper .w3-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.header-wraper .w3-container nav {
  flex: 0 0 40%;
  max-width: 40%;
}
@media (max-width: 575.98px) {
  .header-wraper .w3-container nav {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (max-width: 920px) {
  .header-wraper .w3-container nav .navbar {
    max-width: 100%;
    padding: 0 25px;
  }
}
.header-wraper .w3-container nav .navbar .bx-menu {
  display: none;
}
@media (max-width: 800px) {
  .header-wraper .w3-container nav .navbar .bx-menu {
    font-size: 25px;
    display: block;
  }
}
@media (max-width: 800px) {
  .header-wraper .w3-container nav .navbar .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 270px;
    width: 100%;
    background: #3e8da8;
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
    height: 100%;
  }
}
.header-wraper .w3-container nav .navbar .nav-links .sidebar-logo {
  display: none;
}
@media (max-width: 800px) {
  .header-wraper .w3-container nav .navbar .nav-links .sidebar-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media (max-width: 800px) {
  .header-wraper .w3-container nav .navbar .nav-links .sidebar-logo .logo-name {
    font-size: 25px;
    color: #fff;
  }
}
@media (max-width: 800px) {
  .header-wraper .w3-container nav .navbar .nav-links .sidebar-logo .sidebar-logo i {
    font-size: 25px;
  }
}
@media (max-width: 800px) {
  .header-wraper .w3-container nav .navbar .nav-links .sidebar-logo.show1 .links .htmlcss-arrow,
  .header-wraper .w3-container nav .navbar .nav-links .sidebar-logo.show1 .links .js-arrow, .header-wraper .w3-container nav .navbar .nav-links .sidebar-logo.show3 .links .htmlcss-arrow,
  .header-wraper .w3-container nav .navbar .nav-links .sidebar-logo.show3 .links .js-arrow {
    transform: rotate(180deg);
  }
}
@media (max-width: 800px) {
  .header-wraper .w3-container nav .navbar .nav-links .sidebar-logo.show1 .links .htmlCss-sub-menu,
  .header-wraper .w3-container nav .navbar .nav-links .sidebar-logo.show1 .links .js-sub-menu, .header-wraper .w3-container nav .navbar .nav-links .sidebar-logo.show3 .links .htmlCss-sub-menu,
  .header-wraper .w3-container nav .navbar .nav-links .sidebar-logo.show3 .links .js-sub-menu {
    display: block;
  }
}
@media (max-width: 800px) {
  .header-wraper .w3-container nav .navbar .nav-links .sidebar-logo.show2 .links .more-arrow {
    transform: rotate(90deg);
  }
}
@media (max-width: 800px) {
  .header-wraper .w3-container nav .navbar .nav-links .sidebar-logo.show2 .links .more .more-sub-menu {
    display: block;
  }
}
.header-wraper .w3-container nav .navbar .nav-links .bx-menu {
  display: none;
}
@media (max-width: 800px) {
  .header-wraper .w3-container nav .navbar .nav-links .bx-menu {
    display: block;
  }
}
.header-wraper .w3-container nav .navbar .links {
  display: flex;
  margin: 0;
  padding: 0;
}
@media (max-width: 800px) {
  .header-wraper .w3-container nav .navbar .links {
    display: block;
    margin-top: 20px;
  }
}
.header-wraper .w3-container nav .navbar .links li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 21px 0 0;
}
@media (max-width: 920px) {
  .header-wraper .w3-container nav .navbar .links li {
    padding: 0 10px;
    white-space: nowrap;
  }
}
@media (max-width: 800px) {
  .header-wraper .w3-container nav .navbar .links li {
    display: block;
  }
}
.header-wraper .w3-container nav .navbar .links li a {
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: var(--product-description-color);
  font-size: var(--header-font-size);
  font-weight: 500;
  line-height: normal;
  padding: 0.5rem 0;
}
.header-wraper .w3-container nav .navbar .links li:hover .htmlcss-arrow,
.header-wraper .w3-container nav .navbar .links li:hover .js-arrow {
  transform: rotate(180deg);
}
@media (max-width: 800px) {
  .header-wraper .w3-container nav .navbar .links li:hover .htmlcss-arrow,
  .header-wraper .w3-container nav .navbar .links li:hover .js-arrow {
    transform: rotate(0deg);
  }
}
.header-wraper .w3-container nav .navbar .links li:hover .htmlCss-sub-menu,
.header-wraper .w3-container nav .navbar .links li:hover .js-sub-menu {
  display: block;
}
@media (max-width: 800px) {
  .header-wraper .w3-container nav .navbar .links li:hover .htmlCss-sub-menu,
  .header-wraper .w3-container nav .navbar .links li:hover .js-sub-menu {
    display: none;
  }
}
.header-wraper .w3-container nav .navbar .links li .arrow {
  width: 22px;
  text-align: center;
  display: inline-block;
  color: var(--product-description-color);
  transition: all 0.3s ease;
  font-size: 8px;
}
.header-wraper .w3-container nav .navbar .links li .sub-menu {
  position: absolute;
  top: 30px;
  left: 0;
  line-height: 40px;
  background: var(--primary-color);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
  padding: 0;
}
@media (max-width: 800px) {
  .header-wraper .w3-container nav .navbar .links li .sub-menu {
    position: relative;
    top: 0;
    box-shadow: none;
    display: none;
  }
}
.header-wraper .w3-container nav .navbar .links li .sub-menu li {
  padding: 0 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
@media (max-width: 800px) {
  .header-wraper .w3-container nav .navbar .links li .sub-menu li {
    border-bottom: none;
  }
}
.header-wraper .w3-container nav .navbar .links li .sub-menu a {
  color: var(--header-sub-nav-color);
  font-size: var(--header-sub-nav-font-size);
  font-weight: 500;
}
.header-wraper .w3-container nav .navbar .links li .sub-menu .more-sub-menu {
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}
@media (max-width: 800px) {
  .header-wraper .w3-container nav .navbar .links li .sub-menu .more-sub-menu {
    display: none;
    position: relative;
    left: 0;
  }
}
@media (max-width: 800px) {
  .header-wraper .w3-container nav .navbar .links li .sub-menu .more-sub-menu li {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media (max-width: 800px) {
  .header-wraper .w3-container nav .navbar .links li .sub-menu .more span {
    display: flex;
    align-items: center;
  }
}
.header-wraper .w3-container nav .navbar .links li .sub-menu .more:hover .more-sub-menu {
  display: block;
}
@media (max-width: 800px) {
  .header-wraper .w3-container nav .navbar .links li .sub-menu .more:hover .more-sub-menu {
    display: none;
  }
}
.header-wraper .w3-container nav .navbar .logo a {
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
@media (max-width: 920px) {
  .header-wraper .w3-container nav .navbar .logo a {
    font-size: 27px;
  }
}
.header-wraper .w3-container .nav-Logo {
  flex: 0 0 20%;
  max-width: 20%;
}
@media (max-width: 575.98px) {
  .header-wraper .w3-container .nav-Logo {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.header-wraper .w3-container .nav-Logo img {
  max-width: 130px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.header-wraper .dt-svg-icon {
  max-width: 24px;
  max-height: 24px;
  cursor: pointer;
  fill: var(--icon-dark);
}
.header-wraper .header-default-inner {
  display: flex;
  align-items: center;
  margin-left: auto;
  flex: 0 0 40%;
  max-width: 40%;
  justify-content: flex-end;
}
@media (max-width: 575.98px) {
  .header-wraper .header-default-inner {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.header-wraper .header-default-inner .mobile-toggle {
  display: flex;
  margin-left: 15px;
  align-items: center;
}
.header-wraper .header-default-inner .header-top-buttons {
  display: flex;
  align-items: center;
}
.header-wraper .header-default-inner .header-top-buttons .top-action-btn {
  margin-left: 15px;
  position: relative;
}
.header-wraper .header-default-inner .header-top-buttons .top-action-btn:hover .mini-panel, .header-wraper .header-default-inner .header-top-buttons .top-action-btn.active .mini-panel {
  opacity: 1;
  visibility: visible;
  transform: none;
  pointer-events: unset;
}
.header-wraper .header-default-inner .header-top-buttons .top-action-btn .wc-count {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  background: var(--theme-alert);
  color: var(--theme-alert-text-color);
  font-size: 8px;
  border-radius: 20px;
  position: absolute;
  left: 14px;
  top: -6px;
}
.header-wraper .header-default-inner .header-top-buttons .top-action-btn .mini-panel {
  position: absolute;
  min-width: 305px;
  top: calc(100% + 15px);
  right: -20px;
  padding: 20px;
  background-color: var(--header-background-color);
  border: 1px solid var(--header-background-color);
  border-radius: 5px;
  z-index: 101;
  opacity: 0;
  visibility: hidden;
  box-shadow: -4px -2px 30px 2px rgba(0, 0, 0, 0.17);
  transform: translateY(15px) translateZ(0);
  transition: opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1), visibility 0.4s cubic-bezier(0.19, 1, 0.22, 1), transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  pointer-events: none;
}
.header-wraper .header-default-inner .header-top-buttons .top-action-btn .mini-panel a {
  border: none;
  text-decoration: none;
}
.header-wraper .header-default-inner .header-top-buttons .top-action-btn .mini-panel::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 20px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent var(--header-background-color) transparent;
}
.header-wraper .header-default-inner .header-top-buttons .top-action-btn .mini-panel::after {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 20px;
}

.banner-sec {
  width: 100%;
}
.banner-sec .mySlides {
  display: none;
}
.banner-sec .mySlides img {
  width: 100%;
  height: var(--banner-height);
  -o-object-fit: cover;
     object-fit: cover;
  background-position: top;
}
.banner-sec .mySlides .w3-display-bottommiddle {
  width: 100%;
}
.banner-sec .mySlides .w3-display-bottommiddle .slider-text {
  font-size: calc(var(--wc-fs-heading1) * 1.5);
  color: var(--banner-text-color);
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}
@media (max-width: 767.98px) {
  .banner-sec .mySlides .w3-display-bottommiddle .slider-text {
    font-size: calc(var(--wc-fs-heading1) - 30px);
  }
}

.bestseller {
  padding: var(--section-spacing) 0 0 0;
}
.bestseller .w3-container {
  display: flex;
  flex-wrap: wrap;
}
.bestseller .w3-container .bestseller-banner {
  flex: 0 0 24%;
  max-width: 24%;
  margin-right: 1%;
}
@media (max-width: 575.98px) {
  .bestseller .w3-container .bestseller-banner {
    flex: 0 0 100%;
    max-width: 100%;
    margin: 0;
  }
}
.bestseller .w3-container .bestseller-filter {
  flex: 0 0 75%;
  max-width: 75%;
}
@media (max-width: 575.98px) {
  .bestseller .w3-container .bestseller-filter {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.featuredseller {
  padding: var(--section-spacing) 0 calc(var(--section-spacing) / 2) 0;
}

.monthseller {
  padding: var(--section-spacing) 0 calc(var(--section-spacing) / 2) 0;
  border: 1px solid #eee;
}

.product-sec {
  padding: var(--section-spacing) 0;
}
.product-sec .w3-container {
  display: flex;
  flex-wrap: wrap;
}
.product-sec .w3-container .proTrends {
  flex: 0 0 27%;
  max-width: 27%;
  margin-right: 1%;
}
@media (max-width: 575.98px) {
  .product-sec .w3-container .proTrends {
    flex: 0 0 100%;
    max-width: 100%;
    margin: 0;
  }
}
.product-sec .w3-container .proTrends .trendsBox {
  background-color: var(--new-trend-backgound);
  padding: 2rem;
  min-height: 410px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.product-sec .w3-container .proTrends .trendsBox .webc-trends {
  color: var(--theme-alert);
  font-size: calc(var(--product-description-font-size) - 6px);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
  line-height: 1.8;
}
.product-sec .w3-container .proTrends .trendsBox .webc-new-trends {
  color: var(--product-description-color);
  font-size: var(--wc-fs-heading3);
  font-weight: bold;
}
.product-sec .w3-container .proDeals {
  flex: 0 0 72%;
  max-width: 72%;
}
@media (max-width: 575.98px) {
  .product-sec .w3-container .proDeals {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.product-sec .w3-container .proDeals .probox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product-sec .w3-container .proDeals .probox .widget-cont {
  flex: 0 0 31.333%;
  max-width: 31.333%;
  margin: 0 1%;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s, transform ease 0.4s;
  height: 100%;
}
@media (max-width: 575.98px) {
  .product-sec .w3-container .proDeals .probox .widget-cont {
    flex: 0 0 100%;
    max-width: 100%;
    margin: 1rem 0;
  }
}
.product-sec .w3-container .proDeals .probox .widget-cont:last-child {
  margin-right: 0;
}

.stock-ticker {
  --gap: 20px;
  border-block: 1px solid;
  display: flex;
  font-size: 15px;
  gap: var(--gap);
  overflow: hidden;
  padding-block: 8px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.stock-ticker ul {
  align-items: center;
  animation: scroll 20s linear infinite;
  display: flex;
  flex-shrink: 0;
  gap: var(--gap);
  justify-content: space-between;
  list-style: none;
  min-width: 100%;
}
.stock-ticker:hover ul {
  animation-play-state: paused;
}
.stock-ticker .company,
.stock-ticker .price {
  font-weight: bold;
}
.stock-ticker .price {
  margin-inline: 4px;
}
.stock-ticker .plus {
  margin-inline: 4px;
}
.stock-ticker .plus::before {
  content: "↑";
  color: #089981;
}
.stock-ticker .plus.change {
  color: #089981;
}
.stock-ticker .minus::before {
  content: "↓";
  color: #f23645;
}
.stock-ticker .minus::before.change {
  color: #f23645;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}
.productSlides {
  display: none;
}

.testimonial {
  text-align: center;
  padding: var(--section-spacing) 0 calc(var(--section-spacing) / 2) 0;
  position: relative;
}
.testimonial .bgPattern {
  position: absolute;
  width: 100%;
  height: 78%;
  background-color: var(--primary-color);
  opacity: 0.1;
  bottom: 0;
}
.testimonial .w3-container .testimonials-heading {
  -webkit-text-stroke-width: 3px;
  color: transparent;
  -webkit-text-stroke-color: #F0F0F0;
  -webkit-text-fill-color: transparent;
  font-size: calc(var(--wc-fs-heading1) * 2);
  line-height: normal;
  margin: 0;
}
@media (max-width: 767.98px) {
  .testimonial .w3-container .testimonials-heading {
    font-size: calc(var(--wc-fs-heading1) - 10px);
  }
}
@media (max-width: 575.98px) {
  .testimonial .w3-container .testimonials-heading {
    font-size: calc(var(--wc-fs-heading1) - 20px);
  }
}
.testimonial .w3-container .item {
  text-align: center;
  width: 41%;
  margin: 0 auto;
}
@media (max-width: 1700.98px) {
  .testimonial .w3-container .item {
    width: 60%;
  }
}
@media (max-width: 1440.98px) {
  .testimonial .w3-container .item {
    width: 70%;
  }
}
@media (max-width: 767.98px) {
  .testimonial .w3-container .item {
    width: 90%;
  }
}
@media (max-width: 575.98px) {
  .testimonial .w3-container .item {
    width: 100%;
  }
}
.testimonial .w3-container .item p {
  margin: 0 auto;
}
.testimonial .w3-container .testimonial-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 45%;
  margin: 30px auto 0;
}
.testimonial .w3-container .testimonial-profile .profile-pic {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-right: 8px;
}
.testimonial .w3-container .testimonial-profile .testimonial-name {
  font-size: 15px;
  font-weight: bold;
  color: var(--heading-color3);
  white-space: nowrap;
  margin: 0;
}
.testimonial .w3-container .testimonial-profile .testimonial-role {
  font-size: 13px;
  margin: 2px 0 0;
}

.newsletter-section {
  padding: calc(var(--section-spacing) * 1.6) 0;
}
.newsletter-section .w3-container {
  display: flex;
  width: 65%;
  margin: 0 auto;
}
.newsletter-section .video-container {
  max-width: 50%;
  flex: 0 0 50%;
  position: relative;
  overflow: hidden;
}
@media (max-width: 767.98px) {
  .newsletter-section .video-container {
    max-width: 100%;
    flex: 0 0 100%;
  }
}
.newsletter-section .video-container video {
  border: none;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
}
.newsletter-section .form-container {
  flex: 1;
  background: var(--arrow-backgound-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  flex: 0 0 50%;
  box-sizing: border-box;
  text-align: center;
  padding: 8rem 2rem;
}
.newsletter-section .form-container .latest-news {
  font-size: 14px;
  color: var(--arrow-icon-color);
  margin: 0px 0px 10px 0px;
  text-transform: uppercase;
}
.newsletter-section .form-container .latest-discount {
  font-size: var(--wc-fs-heading3);
  line-height: 1.6;
  font-weight: 500;
  word-wrap: break-word;
  margin: 0;
  color: var(--arrow-icon-color);
}
.newsletter-section .form-container form {
  display: flex;
  margin: 15px;
}
.newsletter-section .form-container form input {
  flex: 1;
  padding: 15px 10px;
  border: 2px solid var(--icon-dark);
  font-size: 14px;
}
.newsletter-section .form-container form button {
  padding: 10px 20px;
  background: var(--icon-dark);
  color: var(--header-background-color);
  border: none;
  cursor: pointer;
}
.newsletter-section .form-container p {
  font-size: calc(var(--product-description-font-size) - 6px);
  color: var(--arrow-icon-color);
  margin-top: 15px;
}
.newsletter-section .form-container p a {
  color: var(--arrow-icon-color);
  text-decoration: underline;
}

.features {
  padding: 20px 0;
}
.features .w3-container {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.features .feature {
  display: flex;
  align-items: center;
  width: 25%;
}
.features .feature svg {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
.features .feature .text-content {
  display: flex;
  flex-direction: column;
}
.features .feature .text-content h5 {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500;
  margin: 0 0 5px;
}
.features .feature .text-content p {
  font-size: 13px;
  color: #666;
  margin: 0;
}

.shopSec {
  position: relative;
  padding: var(--section-spacing) 0;
}
.shopSec .w3-container {
  display: flex;
  flex-wrap: wrap;
}
.shopSec .w3-container .sliderproduct {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0 1%;
}

.footer {
  position: relative;
  background: var(--footer-background-color);
  border-top: 1px solid var(--product-description-color);
  padding: 4rem 0;
}
.footer .w3-container {
  display: flex;
}
.footer .w3-container .footer-section1 {
  display: flex;
  flex: 0 0 70%;
  max-width: 70%;
  gap: 20px;
}
@media (max-width: 767.98px) {
  .footer .w3-container .footer-section1 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.footer .w3-container .footer-section1 .footer-section {
  flex: 1;
}
.footer .w3-container .footer-section1 .footer-section h5 {
  font-size: var(--product-description-font-size);
  color: var(--product-description-color);
  letter-spacing: 2px;
  margin: 0 0 15px;
  font-weight: bold;
}
.footer .w3-container .footer-section1 .footer-section p, .footer .w3-container .footer-section1 .footer-section ul {
  font-size: var(--footer-description-font-size);
  color: var(--footer-nav-color);
  margin: 0 0 10px;
}
.footer .w3-container .footer-section1 .footer-section ul {
  list-style: none;
  padding: 0;
}
.footer .w3-container .footer-section1 .footer-section ul li {
  margin-bottom: 5px;
}
.footer .w3-container .footer-section1 .footer-section .social-icons {
  display: flex;
  gap: 10px;
}
.footer .w3-container .footer-section1 .footer-section .social-icons i {
  font-size: 24px;
  color: #333;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}
.footer .w3-container .footer-section1 .footer-section .social-icons i:hover {
  color: #000;
  transform: scale(1.1);
}
.footer .w3-container .footer-section1 .footer-section .social-icons .fa-facebook-official {
  color: var(--icon-dark);
}
.footer .w3-container .footer-section1 .footer-section .social-icons .fa-facebook-official:hover {
  color: #2e4272;
}
.footer .w3-container .footer-section1 .footer-section .social-icons .fa-twitter {
  color: #1da1f2;
}
.footer .w3-container .footer-section1 .footer-section .social-icons .fa-twitter:hover {
  color: #1a91da;
}
.footer .w3-container .footer-section1 .footer-section .social-icons .fa-youtube {
  color: #ff0000;
}
.footer .w3-container .footer-section1 .footer-section .social-icons .fa-youtube:hover {
  color: #cc0000;
}
.footer .w3-container .footer-section1 .footer-section .social-icons {
  display: flex;
  gap: 10px;
}
.footer .w3-container .footer-section1 .footer-section .social-icons a {
  font-size: 20px;
  color: #333;
  text-decoration: none;
}
.footer .w3-container .footer-section1 .footer-section .social-icons a:hover {
  color: #000;
}
.footer .w3-container .footer-section2 {
  flex: 0 0 30%;
  max-width: 30%;
}
@media (max-width: 767.98px) {
  .footer .w3-container .footer-section2 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.footer .w3-container .footer-section2 .footer-section h6 {
  margin: 0px 0px 15px 0px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 1.6;
}
.footer .w3-container .footer-section2 .footer-section p {
  font-size: 12px;
  color: #666;
}
.footer .w3-container .footer-section2 .footer-section form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer .w3-container .footer-section2 .footer-section form input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
}
.footer .w3-container .footer-section2 .footer-section form button {
  padding: 10px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}
.footer .w3-container .footer-section2 .footer-section form button:hover {
  background: #333;
}/*# sourceMappingURL=style.css.map */